PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.exmpl.mongodb.net/<dbname>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
CLIENT_URL=https://glittering-belekoy-40b559.netlify.app
NODE_ENV=production
